/*---- Base Element Styles ----*/
* {
    box-sizing: border-box;
}

body {
    margin: 0;
    padding: 0;

    line-height: 1.6;
    font-family: 'Comfortaa', sans-serif;
    text-align: center;
}

h1,
h2,
h3 {
    font-size: 1em;
}

a {
    text-decoration: none;
}

hr {
    background-color: black;
    border: none;
    height: 1px;
    width: 95%;
}

/*---- Layout Containers ----*/
.wrapper{
    margin: 0 auto;
    width: 100%;
}

.container {
    margin: 0 auto;
    max-width: 90%;
}

header.container {
    background-color: #004080;
    padding: 10px;
    min-width: 100%;
}

aside.notice {
    margin: 2em;
}

/*---- Section styles ----*/
header h1 {
    color: white;
    text-transform: uppercase;
    font-size: 1.7em;
}

.notice h1 {
    font-size: 1.3em;
    margin-bottom: 0;
}

.notice p {
    color: grey;
    margin: 0;
}

hr.wide {
    border: none;
    height: 4px;
}
